html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Merriweather:400|DM+Sans:400&subset=latin")
        link(rel="stylesheet", href="css/bootstrap/bootstrap.min.css")
        link(rel="icon", href="favicon.ico")
    body
        div(class="")
            nav(class="position-relative navbar navbar-expand-lg navbar-light py-5")
                div(class="container-fluid")
                    a(class="navbar-brand", href="#")
                        img(src="images/easy-expat.svg", alt="", width="132")
                    button(class="btn p-0 d-lg-none navbar-burger")
                        svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd", clip-rule="evenodd", d="M3.5 7C3.22386 7 3 6.77614 3 6.5C3 6.22386 3.22386 6 3.5 6H20.5C20.7761 6 21 6.22386 21 6.5C21 6.77614 20.7761 7 20.5 7H3.5ZM3.5 12C3.22386 12 3 11.7761 3 11.5C3 11.2239 3.22386 11 3.5 11H20.5C20.7761 11 21 11.2239 21 11.5C21 11.7761 20.7761 12 20.5 12H3.5ZM3 16.5C3 16.7761 3.22386 17 3.5 17H20.5C20.7761 17 21 16.7761 21 16.5C21 16.2239 20.7761 16 20.5 16H3.5C3.22386 16 3 16.2239 3 16.5Z", fill="#006251")
                    ul(class="d-none d-lg-flex position-absolute top-50 start-50 translate-middle navbar-nav")
                        li(class="nav-item")
                            a(class="nav-link", href="#") About
                        li(class="nav-item")
                            a(class="nav-link", href="#") Guides
                        li(class="nav-item")
                            a(class="nav-link", href="#") Resources
                        li(class="nav-item")
                            a(class="nav-link", href="#") DELETE LATER
                    div(class="d-none d-lg-block")
                        a(class="btn me-2", href="#") DELETE LATER
                        a(class="btn rounded btn-primary", href="#") Log In
                div(class="d-none navbar-menu position-relative", style="z-index: 9999;")
                    div(class="navbar-backdrop position-fixed top-0 start-0 end-0 bottom-0 bg-primary", style="opacity: 90%;")
                    nav(class="position-fixed top-0 start-0 bottom-0 d-flex flex-column w-75 mw-sm py-6 px-6 navbar-light bg-white overflow-auto")
                        div(class="d-flex align-items-center mb-10")
                            a(class="me-auto navbar-brand", href="#")
                                img(src="images/easy-expat.svg", alt="", width="132")
                            button(class="navbar-close btn-close", type="button", aria-label="Close")
                        div
                            ul(class="nav flex-column")
                                li(class="nav-item mb-4")
                                    a(class="nav-link", href="#") About
                                li(class="nav-item mb-4")
                                    a(class="nav-link", href="#") Guides
                                li(class="nav-item mb-4")
                                    a(class="nav-link", href="#") Resources
                                li(class="nav-item mb-4")
                                    a(class="nav-link", href="#") DELETE LATER
                        div(class="mt-auto")
                            div(class="py-6")
                                a(class="w-100 btn btn-primary mb-2", href="#") Log In
                                a(class="w-100 btn btn-secondary", href="#") DELETE LATER
                            p(class="mb-4 small text-center text-muted") © 2021 All rights reserved.
            section(class="py-20")
                div(class="container")
                    div(class="mw-4xl mx-auto text-center")
                        span(class="badge bg-secondary-light") DELETE LATER
                        h2(class="mt-6 mb-4 text-primary") About Us
                        p(class="mb-6 mx-auto lead lh-lg text-muted") We are a team of expatriates living in Germany, and who have also had to face the cumbersome bureaucracy behind every step of the immigration process. We have practically gone through it all–from applying for student permits, to getting a Blue Card for working here, all the way to obtaining the German citizenship.
                        |       
                        |       Our goal with EasyXpat is to simplify the German immigration process as much as posssible for other expatriates like us. Simply put, our end mission is to make the process of jumping between poorly-designed regional government websites, with information written in confusing legalese German, a thing of the past.
                        |       
                        |       While we cannot support you with your specific legal case (we are not lawyers nor immigration experts, nor do we offer any legal or immigration services or advice), we provide you with a set of guides and checklists to put you on the right path when living as an expat in Germany.
                        |       
                        |       Whether you are just freshly arriving to Germany for your new job, or already applying for your permanent residence permit after a few years, we want to provide you with all the information you need to successfully apply for your residence permit.
                        a(class="btn btn-primary d-block d-md-inline-block mb-2 mb-md-0 mb-lg-0 me-md-4", href="#") DELETE LATER
                        a(class="btn btn-dark d-block d-md-inline-block", href="#") DELETE LATER
            section(class="py-20 bg-light-light")
                div(class="container")
                    div(class="row align-items-center")
                        div(class="col-12 col-lg-6 mb-10 mb-lg-0")
                            div(class="mw-lg-md mx-auto position-relative")
                                img(class="d-none d-lg-block position-absolute bottom-0 start-0 translate-middle-x", src="cronos-assets/elements/green-white-small.svg", alt="")
                                img(class="d-none d-lg-block position-absolute top-0 start-100 translate-middle-x", src="cronos-assets/elements/warning-light-small.svg", alt="")
                                img(class="img-fluid", style="object-fit: cover;", src="https://images.unsplash.com/photo-1542330952-bffc55e812b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80", alt="")
                        div(class="col-12 col-lg-6")
                            div(class="mw-lg-md ms-lg-auto")
                                h3(class="mb-14 text-primary") Available Guides
                                div(class="d-flex align-items-start mb-6")
                                    span(class="me-4")
                                        svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 text-primary") At the moment we only support the following cities and guides:
                                        p(class="lead lh-lg text-muted mb-0") Frankfurt (Blue Card)
                                        |       
                                div(class="d-flex align-items-start mb-6")
                                    span(class="me-4")
                                        svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3 text-primary") The following cities will be supported in the coming months:
                                        p(class="lead lh-lg text-muted mb-0") Berlin
                                        |             Cologne
                                        |             Düsseldorf
                                        |             Frankfurt
                                        |             Hamburg
                                        |             Munich
                                        |             Stuttgart
                                div(class="d-flex align-items-start")
                                    span(class="me-4")
                                        svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 11.5L11 14.5L17 8.5", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div
                                        h6(class="mb-3") DELETE LATER
                                        p(class="lead lh-lg text-muted mb-0") DELETE LATER
            section(class="py-20")
                div(class="container")
                    div(class="max-w-xl mx-auto")
                        div(class="text-center pb-10 border-bottom")
                            a(class="d-inline-block mb-10 navbar-brand", href="#")
                                img(src="images/easy-expat.svg", alt="", width="132")
                            ul(class="list-unstyled d-flex flex-wrap justify-content-center mb-10")
                                li(class="mb-5 mb-lg-0 me-6 me-lg-12")
                                    a(class="small text-decoration-none", href="#") About
                                li(class="mb-5 mb-lg-0 me-6 me-lg-12")
                                    a(class="small text-decoration-none", href="#") Guides
                                li(class="mb-5 mb-lg-0 me-6 me-lg-12")
                                    a(class="small text-decoration-none", href="#") Resources
                                li
                                    a(class="small link-dark text-decoration-none fw-bold", href="#") DELETE LATER
                            div(class="d-flex flex-wrap justify-content-center align-items-center")
                                a(class="text-decoration-none me-10", href="#")
                                    img(src="cronos-assets/logos/brands/facebook.svg", alt="")
                                |                 
                                a(class="text-decoration-none me-10", href="#")
                                    img(src="cronos-assets/logos/brands/twitter.svg", alt="")
                                |                 
                                a(class="text-decoration-none me-10", href="#")
                                    img(src="cronos-assets/logos/brands/Instagram.svg", alt="")
                                |                 
                                a(class="text-decoration-none me-10", href="#")
                                    img(src="cronos-assets/logos/brands/github.svg", alt="")
                                |                 
                                a(class="text-decoration-none", href="#")
                                    img(src="cronos-assets/logos/brands/LinkedIn.svg", alt="")
                        p(class="pt-10 small text-muted text-center") All rights reserved © EasyXpat 2021
        script(src="js/bootstrap/bootstrap.bundle.min.js")
        script(src="js/main.js")
