$primary: #00379f;
$secondary: #ee4d47;
$secondary-light: #C2D7FF;
$font-family-sans-serif: "Merriweather", serif;
$font-family-base: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: "Merriweather", serif;
$light-light: #EFF6EE;
